services:

  devshell:
    image: registry.messner.click/gunny26/devshell:latest
    container_name: devshell
    restart: "no"
    # mem_limit: 128m
    # cpu_count: 2
    # privileged: true
    volumes:
      - ./.vim:/home/ubuntu/.vim
      - ./.vimrc:/home/ubuntu/.vimrc
      - ./.bashrc:/home/ubuntu/.bashrc
      - /home/mesznera/gits:/home/ubuntu/gits
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
    ports:
      - 8000:9100
    network_mode: host
    environment:
      TZ: Europe/Vienna
      EXPORTER_LOG_LEVEL: INFO  # to use in logging
      EXPORTER_INTERVAL: 20  # seconds
      EXPORTER_PORT: 9100  # tcp port to listen in container
      DISPLAY: ${DISPLAY}
